<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>个人主页</title>
		<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css" />
		<link type="text/css" rel="stylesheet" href="/static/css/bootstrap-theme.min.css" />
		<link type="text/css" rel="stylesheet" href="/static/css/uoj-theme.css" />	
	</head>
    <body role="document">
		<div class="container theme-showcase" role="main">
			{% include "headerbar.html" %}

            <div class="uoj-content">
                <h1>{{username}}的个人主页</h1>
                <h2>提交的数据集</h2>
                {% for dataset in datasetlist %}
                    <tr>
                        <td><a href="/modelplex/dataset/{{dataset.id}}">{{dataset.name}}</a></td><br>
                        <td>数据集描述：{{dataset.description}}</td><br>
                    </tr>
                {% endfor %}
                <h2>提交的模型</h2>
                {% for model in modellist %}
                    <tr>
                        <td><a href="{{ model.homepage }}">{{model.name}}</a></td><br>
                        <td>模型描述：{{model.description}}</td><br>
                        <!--<td>模型准确率：{{model.accuracy}}</td><br>
                        <td>模型测试数：{{model.tests}}</td><br>-->
                    </tr>
                {% endfor %}
                <br>
                <h2>测试历史</h2>
				<div class="col-sm-12">
                    <table class="table">
                        <thead>
                            <tr>
								<th style="width:10%">模型id</th>
                                <th style="width:10%">数据集id</th>
								<th style="width:10%">测试数据组数</th>
								<th style="width:10%">准确率</th>
								<th style="width:10%">召回率</th>
								<th style="width:10%">损失函数</th>
                            </tr>
                        </thead>
                        {% for history in historylist %}
                        <tr>
                            <td>{{history.model_id}}</td>
                            <td><a href="/modelplex/dataset/{{history.dataset_id}}">{{history.dataset_id}}</a></td>
							<td>{{history.dataset_number}}</td>
							<td>{{history.accuracy}}</td>
							<td>{{history.recall}}</td>
							<td>{{history.loss}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <a href="/modelplex/modify_password" class="btn btn-default" role="button">修改密码</a>
                <a href="/modelplex/upload_model" class="btn btn-default" role="button">上传模型</a>
                <form action="/modelplex/logout/">
                    <button type="submit" class="btn btn-default"style="margin-top:10px">登出</button>
                </form>
            </div>
        </div>
    </body>
</html>
